#info {
    position: absolute;
    top: 95%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: right;
    z-index: 1;
    /* TODO Solve this in HTML */
}

.bottom-center {
    position: fixed;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -97%);
}

.front-center {
    position: absolute;
    z-index: 1;
    height: 50px;
    width: 50px;
}

.name-card {
    text-align: center;
    background-color: white;
    /* top: 33%; */
/*    opacity: 1;*/
    background: rgba(255, 255, 255, 0.60);
    border-radius: 25px;
    /* padding: 20px; */
    padding: 0px;
}

.circle {
  background: #17d1ac;
  border: 0.1875em solid #0F1C3F;
  box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
  height: 100px;
  display: flex; /* or inline-flex */
  align-items: center; 
  justify-content: center;
  border-radius: 25px;
}
#text {
    padding: 10px;
}

body{
    margin:0px;
    padding:0px;
    background-color:#F4F7FF;
;   
}
ul{
    list-style:none;
    margin: auto;
}
a{
    text-decoration:none;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    box-sizing: border-box;
    padding: 20px 10px;
    background-color:#F4F7FF;
    box-shadow:2px 2px 12px rgba(0,0,0,0.05); 
    z-index: 1;
}
 
.menu{
    display: flex;
}
.menu li a{
    padding: 10px 15px;
    color:#6c707c;
    font-size: 12px;
    
}
.lang{
    color:#292929;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    color:#292929;
    font-family:Poppins;
}
.toggle{
    display: none;
}
.active a,
.menu li a:hover{
    background-color:#292929;
    color:#FFF!important;
    font-weight: bold;
    transition: all ease 0.4s;
}
.name{
    font-family: calibri;
    position: fixed;
    max-width: 600px;
    left: 20%;
    top: 50%;
    transform: translate(-20%,-50%);
}
.name p:nth-child(1),.name .details{
    color:#6c707c;
    font-size: 16px;
}
.name h1{
    font-family:Poppins;
    font-size: 40px;
    margin:0px;
    letter-spacing: 3px;
    color:#292929;
}
.cv-btn{
    width:200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color:#FFFFFF;
}
.cv-btn:hover{
    background-color: #131313;
    transition: all ease 0.5s;
}
.black-line {
  align-self: end;
  width: 50%;
  height: 15%;
  margin-bottom: 4em;
  position: absolute;
    bottom:0px;
    left: -3%;
    border-right: 1px solid  rgba(41,41,41,0.30);
}
 
.black-line::after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 0 11px;
 border-color:  #292929 transparent transparent transparent;
  right: -.7em;
  bottom: -2px;
}
 
.social{
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
 
}
.social a{
    margin: 6px 12px;
 
}
.social i{
    color:rgba(18,17,17,0.40);
    font-size: 14px;
}
.social a:hover i{
    color:#17d1ac;
    transition: all ease 0.5s;
}

#about{
    width:100%;
    height: 100vh;
    background-color:#161616;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
    position: relative;
}
.about-text{
    font-family: calibri;
    width: 50%;
}
.about-text h1{
    font-size: 5rem;
    color:#17d1ac;
}
.about-text h2{
    font-size: 3rem;
    color:#FFFFFF;
    font-weight: 400;
}
.about-text h1,h2{
    margin: 0px;
    padding: 0px;
}
.about-text p{
    font-size: 1.2rem;
    color:rgba(255,255,255,0.90);
    
}
.about-text button{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color:#17d1ac;
}
.about-text button:hover{
    background-color: #FFFFFF;
    transition: all ease 0.3s;
}

#portfolio{
    width:100%;
    box-sizing: border-box;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 2% 20px 2%;
}
 
.p-heading{
    font-family: calibri;
    font-size: 1.7rem;
    text-align: center;
    color:#FFFFFF;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #292929;
    letter-spacing: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
}

.p-box{
    background-color: #1F1F1F;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
    position: relative;
    transition:transform 0.25s ease;
}

.p-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:transform 0.25s ease;
}

.p-container{
    width: 90%;
    height:70vh;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

.p-box:hover {
    transform: scale(1.5);
    overflow: none;
    z-index: 3000;
}

#projection {
    position: absolute;
    text-align: center;
    z-index: 100;
    display:block;
}

#c {
    width: 100%;
    height: 100%;
    width: 100%;  /* let our container decide our size */
    height: 100%;
    display: block;
}
#container {
  position: relative;  /* makes this the origin of its children */
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#labels {
  position: absolute;  /* let us position ourself inside the container */
  left: 0;             /* make our position the top left of the container */
  top: 0;
  color: white;
}

#labels>div {
  position: absolute;  /* let us position them inside the container */
  left: 0;             /* make their default position the top left of the container */
  top: 0;
  cursor: pointer;     /* change the cursor to a hand when over us */
  font-size: large;
  user-select: none;   /* don't let the text get selected */
  text-shadow:         /* create a black outline */
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}
#labels>div:hover {
  color: red;
}

.element {
                height: auto;
                width:  auto;
                border-radius: 10%;
                position: absolute;
                font-family: Helvetica, sans-serif;
                text-align: center;
                line-height: normal;
            }

.element .details {
        font-size: 12px;
        color:  #17d1ac;
        text-shadow: 1px 1px 1px #111111;
    }