#info {
    position: absolute;
    top: 95%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: right;
    z-index: 1;
    /* TODO Solve this in HTML */
}

.left-corner {
    position: fixed;
    top: 20%;
    left: 25%;
    /* bring your own prefixes */
     transform: translate(-80%, -80%); 
}

.name-card {
    text-align: center;
    background-color: white;
    /* top: 33%; */
/*    opacity: 1;*/
    background: rgba(255, 255, 255, 0.60);
    border-radius: 25px;
    /* padding: 20px; */
    padding: 0px;
    top: 40%;
}

.name-card h1 {
    margin: 30px 30px 0px 30px;
    color: #000;
}

.circle {
  background: #8FD6C1;
  border: 0.1875em solid #0F1C3F;
  box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
  width: 200px; 
  height: 200px;
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center; 
  justify-content: center;
}

body{
    margin:0px;
    padding:0px;
    background-color:#161616;   
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color:#F4F7FF;
    box-shadow:2px 2px 12px rgba(0,0,0,0.05); 
    z-index: 1;
}
 
.menu{
    display: flex;
}
.menu li a{
    padding: 10px 15px;
    color:#6c707c;
    font-size: 12px;
    
}
.lang{
    color:#292929;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    color:#292929;
    font-family:Poppins;
}
.toggle{
    display: none;
}
.active a,
.menu li a:hover{
    background-color:#292929;
    color:#FFF!important;
    font-weight: bold;
    transition: all ease 0.4s;
}