@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    background-color: #d5bbb1;
    color: #c0ddbf;
    margin: 0;
    padding: 0;
    
    font-family: 'Source Code Pro', monospace;
}

canvas {
    width: 100vw;
    height: 100vh;
}